{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        Привет!
      </h3>
      <h5>
        Меня зовут Кирилл, студент ЯПрактикум (28 кагорта)
      </h5>
      <p>  
        Я начинающий back-end разработчик. Ранее с программированием не сталкивался.
        Перед Вами результат моего проекта созданный в процессе изучения <b>Django</b> - сайт для блогеров.
      </p>
      <p>
        <b>
          Цели которые планирую достичь после обучения:
        </b>
      </p>
      <ul>
        <li>
          Устроиться удаленно на работу back-end разработчиком.
        </li>
        <li>
          Развиваться и получать новые знания.
        </li>
        <li>
          Доказать в первую очередь самому себе, что могу и достоин большего. 
        </li>
      </ul>
      Мой Github:
      <a href="https://github.com/HelloAgni">
        <button type="button" class="btn btn-dark">
          HelloAgni
        </button>
      </a>
    </div>
    <div class="col">
      <img src="{% static "img/workplace.jpg" %}" width="300" height="300" align="right" alt="">
    </div>
  </div>
{% endblock %}
