{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h3>
  Привет!
</h3>
<h5>
  Меня зовут Байбак Кирилл, студент ЯПрактикум (28 кагорта)
</h5>
<p>
  <img src="{% static "img/workplace.jpg" %}" width="300" height="300" align="right" alt="">
  Давно хотел научиться программировать, но от обилия информации не знаешь с чего начать.
  Рад, что появились такие курсы, где шаг за шагом тебя приближают к заветной цели.
  Много теории и все запомнить сложно, обращался за подсказками к студентам и наставникам своей кагорты.
  Некоторая информация сразу не усваивается, приходилось перечитывать,
  смотреть видео и вебинары (отдельное спасибо наставникам) за подробные разъяснения.  
</p>
<p>
  Я чувствую что мир программирования это мое!
</p> 
<b>
  Принципы которых я придерживаюсь:
</b>
</p>
<ul>
  <li>
    Не опускать руки в трудных задачах
  </li>
  <li>
    Не стесняться обращаться за подсказками к студентам и наставникам
  </li>
  <li>
    Не сравнивать себя с более опытными ребятами на данном этапе обучения
  </li>
</ul>
Мой Github:
<a href="https://github.com/HelloAgni">
  <button>
    HelloAgni
  </button>
</a>
{% endblock %}






