{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="row">
  <h4>Языки программирования:</h4>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
        <img src="{% static "img/snake.gif" %}" width="80" height="70" alt="">
      </li>
      <li class="list-group-item">
        HTML
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Для разработки сайта изучались и применялись следующие инструменты:
    </p>
    <div class="row">
        <div class="col">
      <ul>
        <li>
          VSCode
        </li>
        <li>
          Django
        </li>
        <li>
          Bootstrap
        </li>
      </ul>
    </div>
    <div class ="col">
        <img src="{% static "img/vsc.png" %}" width="50" height="50" alt="">
        <img src="{% static "img/django.png" %}" width="70" height="70" alt="">        
        <img src="{% static "img/bootstrap.png" %}" width="70" height="70" alt="">
    </div>
    </div>
  </article>
</div>

{% endblock %}
