{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="row">
  <h4>Языки программирования:</h4>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        SQL
      </li>
      <li class="list-group-item">
        HTML/CSS
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Все перечисленное было использованно для разработки сайта.
      Слишком громко сказать "я умею", скорее всего изучал и применял следующие инструменты:
    </p>
    <p>
      <ul>
        <li>
          VScode
        </li>
        <li>
          DB Browser for SQLite
        </li>
        <li>
          Git
        </li>
        <li>
          Bash
        </li>
        <li>
          Bootstrap
        </li>
      </ul>
    </p>
  </article>
</div>
<p align="center">
<img src="{% static "img/Chesha.jpg" %}" width="800" height="450"  alt="">
</p>
{% endblock %}
