{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="row">
  <h3>Вот что я умею</h3>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        SQL
      </li>
    </ul>

  </aside>
  <article class="col-12 col-md-9">
    <p>
      Данная тема усвоена плохо... Осталось много вопросов, которые буду 
      изучать в свободное от работы и учебы время.
      Слишком громко сказать "я умею", скорее всего изучал и применял следующие инструменты:
    </p>
    <p>
      <ul>
        <li>
          Декораторы
        </li>
        <li>
          Paginator
        </li>
        <li>
          Контекст-процессор
        </li>
        <li>
          Шаблоны страниц
        </li>
      </ul>
    </p>
  </article>
</div>
<p align="center">
<img src="{% static "img/Chesha.jpg" %}" width="800" height="450"  alt="">
</p>
{% endblock %}
